= form_for @address do |f|
  - if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :line1
    = f.text_field :line1
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :pin
    = f.text_field :pin
  / .field
  /   = f.label :country
  /   = f.country_select :country
  .field
    = f.label :country
    = f.text_field :country, class: 'country_select'
  .actions
    = f.submit 'Save'
:javascript
  $(document).on('submit', 'form#new_address', function(){

  if( $('#address_line1').val() != '' ){
    alert($('#address_line1').val())
  }else{
    alert('empty')
  }
  return false;

  });

  // build country select using jquery Autocomplete();

